<!DOCTYPE html>
<html>
    <head>
        <title>FastRead</title>
    </head>
    <body>
        <div id="app">
            <h1>{{ header }}</h1>
            <textarea v-on:change="restart();" v-model="texttoread"></textarea>
            <!-- {{texttoread}} -->
            <div>
                Speed
                <input type="number" v-on:change="restart();" v-model="speed" />
            </div>
            <div>
                Words
                <input type="number" v-on:change="restart();"  v-model="wordperline" />
            </div>
            <div>
                Rows
                <input type="number" v-on:change="restart();"  v-model="numberofrows" />
            </div>
            <div>
                <button v-on:click="stop()">Stop</button>
            <button v-on:click="start()">Start</button>
            <button v-on:click="restart()">restart</button>
            <button v-on:click="rewind()">rewind</button>


            </div>
            <div>
                <h1 v-for="line in readtext.split('$#$')">{{line}}</h1>
            </div>
            <hr />
            <textarea v-if="!watchplaying" v-model="texttoread2"></textarea>
            <div v-if="watchplaying">{{texttoread2}} </div>

            <button v-on:click="stopWatch()">Stop</button>
            <button v-on:click="startWatch()">Start</button>
            <button v-on:click="resetWatch()">Reset</button>

            <div>{{watchtime}}</div>
            <div>{{watchresult}}</div>
            <hr />
            <div class="container">
                <div class="topleft">{{spot0}}</div>
                <div class="topright">{{spot1}}</div>
                <div class="bottomleft">{{spot2}}</div>
                <div class="bottomright">{{spot3}}</div>
                <textarea v-model="texttoread3"></textarea>
                <div class="controller">
                    <button v-on:click="startjump()">Start</button>
                    <button v-on:click="stopjump()">Stop</button>
                    <input type="number" v-model="jumpspeed" />
                    <input type="checkbox" v-model="jumprandom"/> 
                    <div>
                        Random:
                        {{jumprandom}}
                    </div>
                </div>
                

            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script type="text/javascript">

    var app = new Vue({
      el: '#app',
      data: {
        header: 'Fast read! Simple tool to make reading quicker!',
        texttoread: '',
        texttoread2: '',
        texttoread3: '',
        partialtext: '',
        numberofrows: parseInt(sessionStorage.getItem('numberofrows'),10) || 1,
        readtext: 'HERE',
        wordcount: 0,
        speed: parseInt(sessionStorage.getItem('speed'),10) || 250,
        wordperline: parseInt(sessionStorage.getItem('wordperline'),10) || 1,
        splitted: [],
        currentplay: '',
        playing:false,
        watchtime:0,
        watchplaying: false,
        starttime:0,
        stoptime:0,
        watchresult: {},
        spot0: 'A',
        spot1: 'B',
        spot2: 'C',
        spot3: 'D',
        jumpwordcount:0,
        jumpwordstable:[],
        jumpspeed:100,
        jumprandom: false,
        jumpstop:false,
      },
      watch: {
            texttoread: function (val) {
            this.partialtext = val.split(' ')
            this.wordcount=0;
            },
        },
        methods: {
           reading: function(play) {
               if(this.wordperline > 0){
                if(this.wordcount < this.splitted.length && this.currentplay===play){
                    this.playing=true;
                    this.readtext=this.splitted[this.wordcount];
                    if(this.numberofrows>1){
                        for(let i=1;i<parseInt(this.numberofrows,10);i++){
                            if(this.splitted[this.wordcount+i]){
                                this.readtext=this.readtext.concat('$#$');
                                this.readtext=this.readtext.concat(this.splitted[this.wordcount+i]);
                            }
                            
                        }
                    }
                    setTimeout(()=> {
                    this.wordcount=this.wordcount+parseInt(this.numberofrows,10);
                    this.reading(play)
                }, this.wordperline*this.numberofrows*60*1000/this.speed);
               }
             }
           },
           restart: function() {
            this.wordcount=0;
                    let splittedtemp= this.texttoread.split(/[ ,\s]+/);
                    let lengths=splittedtemp.length;
                    this.splitted=[];
                    this.currentplay=new Date();
                    for(let i=0;i<(lengths/this.wordperline);i++){
                        this.splitted[i]=splittedtemp.splice(0,this.wordperline).join(' ');
                    }
                   this.reading.bind(this);
                   this.reading(this.currentplay);
                   sessionStorage.setItem('speed', this.speed);
                   sessionStorage.setItem('wordperline', this.wordperline)
                   sessionStorage.setItem('numberofrows', this.numberofrows)
           },
           stop: function() {
                   this.currentplay=new Date();
                   this.playing=false;
           },
           start: function() {
                this.reading.bind(this);
                if(!this.playing){
                    this.reading(this.currentplay);
                }
           },
           rewind: function(){
            this.wordcount=this.wordcount > 4? this.wordcount-4 : 0;
           },
           watch:function() {
                if(this.watchplaying){
                    setTimeout(()=> {
                    this.watchtime=this.watchtime+10;
                    this.watch();
                    }, 10 );
                }
           },
           startWatch: function(){
            if(!this.watchplaying){
                this.starttime=new Date();
                this.watchplaying=true;
                this.watch.bind(this);
                this.watch();
            }
           },
           stopWatch: function(){
            this.watchplaying=false;
            this.stoptime=new Date;
            this.watchresult={
                time: this.stoptime-this.starttime,
                words: this.texttoread2.split(/[ ,\s]+/).length,
                "words per minute": Math.floor((this.texttoread2.split(/[ ,\s]+/).length)*1000*60/(this.stoptime-this.starttime))
            }
           },
           resetWatch: function (){
            this.watchplaying=false;
            this.watchtime=0;
           },
           startjump: function(){
            this.jumpwordstable=this.texttoread3.split(/[ ,\s]+/);
            this.jumpwordcount=0;
            this.jumpwords.bind(this)
            this.jumpwords();
           },
           stopjump: function(){
            this.jumpstop=true;
           },
           jumpwords: function (){
                this.spot0='';
                this.spot1='';
                this.spot2='';
                this.spot3='';
                if(this.jumprandom){
                    this[`spot${Math.floor(Math.random()*4)}`]=this.jumpwordstable[this.jumpwordcount];
                }else{
                    this[`spot${this.jumpwordcount%4}`]=this.jumpwordstable[this.jumpwordcount];
                }
                if(!this.jumpstop && this.jumpwordcount<=this.jumpwordstable.length){
                    setTimeout(()=>{
                        this.jumpwordcount++;
                        this.jumpwords();
                    },1000*60/this.jumpspeed)
                }{
                    this.jumpstop=false;
                }
           }
        }
      
    })
    </script>
    <style>
    h1{
        text-align: center;
    }
    textarea {
        min-width:500px;
        min-height:300px;
    }
    .container{
        display:block;
       width:100%;
       height:600px;
       position: relative;
       background: #302e2e;
       color: #ff1919;
       text-transform: uppercase;
    }
    .topleft{
        position: absolute;
        left:0;
        top:0;
        padding:20px;
    }
    .topright{
        position: absolute;
        right:0;
        top:0;
        padding:20px;
    }
    .bottomleft{
        position: absolute;
        left:0;
        bottom:0;
        padding:20px;
    }
    .bottomright{
        position: absolute;
        right:0;
        bottom:0;
        padding:20px;
    }
    .container textarea{
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
    }
    .container .controller{
        position:absolute;
        left:50%;
        transform:translate(-50%);
    }
    </style>
    </body>


</html>
