<!DOCTYPE html>
<html>
    <head>
        <title>FastRead</title>
    </head>
    <body>
        <div id="app">
            <h1>{{ header }}</h1>
            <textarea v-on:change="restart();" v-model="texttoread"></textarea>
            <!-- {{texttoread}} -->
            <div>
                Speed
                <input type="number" v-on:change="restart();" v-model="speed" />
            </div>
            <div>
                Words
                <input type="number" v-on:change="restart();"  v-model="wordperline" />
            </div>
            <div>
                <button v-on:click="stop()">Stop</button>
            <button v-on:click="start()">Start</button>
            <button v-on:click="restart()">restart</button>
            <button v-on:click="rewind()">rewind</button>


            </div>
            <div>
                <h1>{{readtext}}</h1>
            </div>
            <hr />
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script type="text/javascript">

    var app = new Vue({
      el: '#app',
      data: {
        header: 'Fast read! Simple tool to make reading quicker!',
        texttoread: '',
        partialtext: '',
        readtext: 'HERE',
        wordcount: 0,
        speed: sessionStorage.getItem('speed') || 250,
        wordperline: sessionStorage.getItem('wordperline') || 1,
        splitted: [],
        currentplay: ''
      },
      watch: {
            texttoread: function (val) {
            this.partialtext = val.split(' ')
            this.wordcount=0;
            },
        },
        methods: {
           reading: function(play) {
               if(this.wordperline > 0){
                if(this.wordcount < this.splitted.length && this.currentplay===play){
                this.readtext=this.splitted[this.wordcount];
                    setTimeout(()=> {
                    this.wordcount++;
                    this.reading(play)
                }, this.wordperline*60*1000/this.speed);
               }
             }
           },
           restart: function() {
            this.wordcount=0;
                    let splittedtemp= this.texttoread.split(/[ ,\s]+/);
                    let lengths=splittedtemp.length
                    this.currentplay=new Date();
                    for(let i=0;i<(lengths/this.wordperline);i++){
                        this.splitted[i]=splittedtemp.splice(0,this.wordperline).join(' ');
                    }
                   this.reading.bind(this);
                   this.reading(this.currentplay);
                   sessionStorage.setItem('speed', this.speed);
                   sessionStorage.setItem('wordperline', this.wordperline)
           },
           stop: function() {
                   this.currentplay=new Date();
           },
           start: function() {
                this.reading.bind(this);
                this.reading(this.currentplay);
           },
           revind: function(){
            this.wordcount=this.wordcount-4;
           }
        }
      
    })
    </script>
    <style>
    h1{
        text-align: center;
    }
    textarea {
        min-width:500px;
        min-height:300px;
    }
    </style>
    </body>


</html>
